body {
	font-family: 'proxima-nova', helvetica;
	color: #fff;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	background-color: #687177;
}

#leftMenu {
	position: absolute;
	padding: 3px 3px 0px;
	float:left;
	height: 100%;
	background-color: #2770a4;
}

#carsListsBack {
	float:left;
	padding-left: 4px;
}

#carsListsBack img {
	width:8px;
	height: 50px;
}

#carsList {
	float:left;
}

#carDetails {
	margin-left: 14px;
}

.error {
	border-color: #f00;
}

.warn {
	border-color: #e4201d;
}


.header {
	font-size: 27px;
	width: 100%;
	border-bottom: 1px solid #fff;
	background-color: #2770a4;
}

.header .title {
	padding: 5px 0 0 5px;
}

#current_mileage {
	font-size: 14px;
	padding: 0 7px 0 5px;
}

#mileage_reported_on {
	font-size: 10px;
}

#service_due_alert{
	color: #b32121;
	font-size: 35px;
	float: right;
	font-weight: bold;
	width: 65%;
	padding-top: 5px;
}

#maintenanceGrid {
	width: 100%;
	border-collapse: collapse;
	font-size: 13px;
}

#maintenanceGrid thead {
	background-color: #303030;
}

#maintenanceGrid td {
	padding-left: 5px;
	padding-right: 5px;
}

#maintenanceGrid .date {
	text-align:left;
	width: 200px;
	padding-left: 15px;
}

#maintenanceGrid .mileage input,
#maintenanceGrid .mileage {
	width: 80px;
	text-align:right;
}
#maintenanceGrid .service {
	width: 300px;
	text-align:left;
}

#maintenanceGrid .cost input,
#maintenanceGrid .cost {
	width: 80px;
	text-align:right;
}

#maintenanceGrid .notes {
	width: 300px;
	text-align:left;
	padding-right:10px;
	overflow: hidden;
}

#maintenanceGrid .actions {
	width: 35px;
	/* padding-right: 15px; */
}

#maintenanceGrid .actions a {
	color: #ffff;
	padding-right: 7px;
}

#maintenanceGrid tr {
	border-bottom: 1px solid #909090;
	height: 25px;
}

#scheduledMaintenanceGrid tr {
	background: #a96c6c;
	color: #1f1d1d;
}

#scheduledMaintenanceGrid .actions a {
	color: #ffff;
}

#scheduledMaintenanceGrid input {
	background-color: #a96c6c;
	border: 1px solid #863b3b;
}

#serviceGrid tr:nth-child(odd) {
	background: #444444;
}

#serviceGrid tr:nth-child(even) {
	background: #333333;
}


.pendingSave {
	color: #bFbFbF;
}

.car {
	margin:0 0 5px 0;
	padding:10px;
	background-color:#303030;
	width:250px;
	text-align:center;
	border: 1px solid #909090;
}

.car a {
	text-decoration:none;
	color:#fff;
}

#carList .back img {
	visibility: hidden;
}

#carId {
	display:none;
}

input, textarea {
	background-color:#444444;
	border-color:#303030;
	color:#fff;
	font-size: 13px;
	width: 100%;
}

#deleteLogDialog #deleteLogConfirmation {margin-top: 15px;}

#editLogDialog {
	font-size:13px;
	color:#fff;
}

#editLogDialog label {
	width: 100%;
}

#editLogDialog #editRegularService {
	width:10px;
	display: inline;
	margin: 15px 5px 5px 0;
}

.ui-dialog .ui-dialog-titlebar {
	padding: 0;
	background: #444;
	border: 1px solid #444;
	color: #fff;
	font-size: 13px;
}

.ui-widget-content {
	background-color:#666;
	border: 1px solid #444;
}

.ui-widget.ui-widget-content {
	border: 1px solid #444;
	padding: 0;
}

.ui-dialog .ui-dialog-buttonpane button {
	background: #444;
	margin: 0 0 0 0;
	font-size: 13px;
	color: #fff;
	border: 1px solid #666;
}	
