body {
	font-family: 'proxima-nova', helvetica;
	color: #5a5a5a;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	background-color: #606060;
}

#leftMenu {
	float:left;
	padding: 3px 3px 0px;
	background-color: #2770a4;
}

#mainBody {
	float:left;
	padding: 0 15px 15px 0;
    background-color: #303030;
}

.error {
	border-color: #f00;
}

.warn {
	border-color: #e4201d;
}


.header {
	font-size: 27px;
	background-color: #303030;
    width: 100%;
}

.header .back {
	display:inline;
	background-color:#2770a4;
	margin-right:5px;
}

.header .back img {
	width:15px;
}

.header .title {
	display:inline;
}

table {
	width: 100%;
	border-collapse: collapse;
}
table thead {
	background-color: #303030;
}

table thead th {
	border-top: 1px solid #2770a4;
	border-bottom: 1px solid #2770a4;
	background-color: #2770a4;
	
}

table tbody tr {
	border-bottom: 1px solid #909090;
}
table tbody tr:nth-child(odd) {background: #101010}
table tbody tr:nth-child(even) {background: #303030}

table thead th,
table td {
	padding-left: 15px
}

table .date {
	text-align:left;
	width: 200px;
}
table .mileage {
	width: 140px;
	text-align:right;
}
table .service {
	width: 300px;
	text-align:left;
}
table .cost {
	width: 110px;
	text-align:right;
}

table .notes {
	width: 300px;
	text-align:left;
	padding-right:10px;
}

.pendingSave {
	color: #bFbFbF;
}

.car {
	margin:0 0 5px 0;
	padding:10px;
	background-color:#303030;
	width:250px;
	text-align:center;
	border: 1px solid #909090;
}

.car a {
	text-decoration:none;
	color:#5a5a5a;
}

#carList .back img {
	visibility: hidden;
}

#carId4 {
	display:none;
}

input {
	background-color:#303030;
	border-color:#303030;
	
}