<html>
<head>
	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link rel="manifest" href="images/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
	<script src="scripts/underscore-min.js"></script>
	<script src="scripts/backbone-min.js"></script>

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<title>Service Logs</title>
</head>
<body id="serviceLogs">

<div id="leftMenu" style="display:none">
	<div id="carListHeader">My Garage<div class="close"><i class="fas fa-times"></i></div></div>
	
	<div id="carsList">
		<div class="car" style="display:none"></div>
	</div>
	<div id="addCar"><i class="fas fa-plus-circle"></i> Add Another Car</div>
	<form id="registerCarForm" style="display:none">
		<span class="warning errMsg" style="display:none"><i class="fas fa-exclamation-triangle"></i><span class="msg"></span></span>
		
		<div class="formField required">
			<label>Year:<span class="warning" style="display:none"><i class="fas fa-exclamation-triangle"></i><span class="msg"></span></span></label> 
			<select name="year"><option></option><select>
		</div>
		<div class="formField required">
			<label>Make:<span class="warning" style="display:none"><i class="fas fa-exclamation-triangle"></i><span class="msg"></span></span></label>
			<input type="text" name="make"/>
		</div>
		<div class="formField required">
			<label>Model:<span class="warning" style="display:none"><i class="fas fa-exclamation-triangle"></i><span class="msg"></span></span></label>
			<input type="text" name="model"/>
		</div>
		<div class="formField">
			<label>Trim:</label>
			<input type="text" name="trim"/>
		</div>
		<div class="formField">
			<label>Current Mileage:</label>
			<input type="text" name="mileage"/>
		</div>
		<div class="formSubmit"><input type="submit" value="Add"/></div>
	</form>	
</div>

<div id="mainBody">
<div class="header">
<div id="carsListsBack"><img src="images/arrow-back.png"/ id="leftMenuButton"></div>
<div id="service_due_alert" style="display:none"><i class="fas fa-exclamation-triangle"></i>Service Due!</div>
<div id="carDetails">
<div class="title"></div>  
<div id="current_mileage">Current mileage: <span class="mileage"></span> <span class="reported_on"></span></div>
</div>
</div>
<form id="addServiceForm">
<table id="maintenanceGrid">
<thead id="serviceAdd">
	<tr>
		<td class="date"><input id="gridFriendlyDate" type="text" autocomplete="off"/><input id="gridServiceDate" name="serviceDate" type="hidden"/></td>
		<td class="mileage"><input id="gridMileage" name="mileage" type="text" placeholder="{{car.mileage}}" autocomplete="off"/></td>
		<td class="service"><input id="gridService" name="service" type="text" placeholder="service description" autocomplete="off"/></td>
		<td class="cost"><input id="gridCost" name="cost" type="text" placeholder="cost" autocomplete="off"></td>
		<td class="notes"><input id="gridNote" name="note" type="text" placeholder="notes" autocomplete="off"/><input type="submit" style="display:none"/></td>
		<td><button>Add</button></td>
	</tr>
</thead>
<tbody id="scheduledMaintenanceGrid">
<tr style="display:none">
<td class="date"></td>
<td class="mileage"></td>
<td class="service"></td>
<td class="cost"><input type="text" placeholder="cost"/></td>
<td class="notes"><input type="text" placeholder="notes"/></td>
<td class="actions">
	<button  class="completed">Done</button>
</td>
</tr>

</tbody>
<tbody id="serviceGrid">
<tr style="display:none">
<td class="date"></td>
<td class="mileage"></td>
<td class="service"></td>
<td class="cost"></td>
<td class="notes"></td>
<td class="actions"><a class="edit" href="#maintenanceId={{id}}"><i class="far fa-edit"></i></a><a class="delete" href="#maintenanceId={{id}}"><i class="far fa-trash-alt"></i></a></td>
</tr>

</tbody>
</table>
</form>

<div id="help">
<h1>Lets get started!</h1>

<p>
First thing you need to do is setup your mobile phone so you can easily report your mileage.  Periodically, you need to report mileage so the system can track when scheduled maintainence is due.  The best time to do this is when your getting gas, but you can report mileage at anyime.  It only takes a few second.</p>

<p>
Rather then having to install yet another app and worry about all the security and tracking concerns that go alone with that you just need to setup a web link on your phone's home screen.  Follow the steps below to setup your mobile phone. </p>

<div id="helpAndroid" class="section">
	<h2>Mobile Phone Setup</h2>

	<li>Launch Chrome or Safari</li>
	<li>Enter the follow web address</li>
	<div class="authLink">http://XXXXXXX/mobile</div>
	<li>Enter the following validation code on your phone</li>
	<div id="mobileValidationCode" class="authLink">-----</div>

</div>
<div style="clear:both"></div>

</div>



<div id="editLogDialog">
	<form id="editMaintenance" action="#">
		<input id="editCarId" name="carId" type="hidden" value="{{car.id}}"/>
		<input id="editId" name="id" type="hidden"/>
		<label>Date:</label><input id="editFriendlyDate" type="text"/><input id="editServiceDate" name="serviceDate" type="hidden"/><br/>
		<label>Mileage:</label><input id="editMileage" name="mileage" type="text"/><br/>
		<label>Service:</label><input id="editService" name="service" type="text"/><br/>
		<label>Cost:</label><input id="editCost" name="cost" type="text"/><br/>
		<label>Note:</label><textarea id="editNote" name="note"></textarea>
		<input id="editRegularService" name="regularService" type="checkbox" value="yes"/><label id="editRegularServiceLabel" >Regular Service:</label>
		<div id="editServiceForm" style="display:none">
			<label>Mileage Interval:</label><input id="editMileageInterval" name="mileageInterval" type="text"/>
			<label>Months Interval:</label><input id="editMonthsInterval" name="monthsInterval" type="text"/>
		</div>
	</form>
</div>

<div id="deleteLogDialog">
	<span>Are you sure you want to delete the following service log?</span>
	<div id="deleteLogConfirmation">
		    <div>Service: <span id="deleteService"></span></div>
		    <div>Mileage: <span id="deleteMileage"></span></div>
	</div>
</div>

<script>

$( document ).ready(function() {

	$("#addCar").on("click", function() {
		$("#registerCarForm").toggle();
	})

	//initialize editDialog
	$( "#editLogDialog" ).dialog({
        autoOpen: false, title: "Edit", modal: true,
        buttons: {
            OK: function() {}
        }

    });

	//initialize editDialog
	$( "#deleteLogDialog" ).dialog({
        autoOpen: false, title: "Edit", modal: true,
        buttons: {
            Cancel: function() {},
            OK: function() {}
        }

    });


	//hide/show car list
	$('#carsListsBack').on('click', function(e){
		$('#leftMenu').show();
	});
	$('#leftMenu .close').on('click', function(e){
		$('#leftMenu').hide();
		$("#registerCarForm").hide();
	});

	//toggle action to show regular service form
	$('#editRegularService').on("click", function(e) {
		$('#editServiceForm').toggle();
	});

	//add todays date as placeholder
	$('#gridFriendlyDate').attr("placeholder", DATEUTILS.format(new Date()));

	$.ajax({
		url: "api/validate",
		type: "GET",
		success: function(results) {
			$("#mobileValidationCode").html(results.validationCode);
		}
	});

	//initailizes the data model
	var myGarage = new maintenanceApp.MyGarage();
	var serviceLog = new maintenanceApp.ServiceLog();
	var scheduledMaintenance = new maintenanceApp.ScheduledMaintenanceCollection();
	
	//initailizes service log table view
	var logView = new maintenanceApp.ServiceLogTableView({
		collection: serviceLog,
		el: "#serviceGrid"
	});

	//initailizes the add service log form
	var addLogView = new maintenanceApp.ServiceRecordAddView({
		collection: serviceLog,
		el: "#addServiceForm"
	});

	//initailizes scheduled maintenance table view
	var scheduledMaintenanceGridView = new maintenanceApp.ScheduledMaintenanceTableView({
		collection: scheduledMaintenance,
		el: "#scheduledMaintenanceGrid"
	});
	scheduledMaintenanceGridView.on("addServiceLog", function(newServiceLog){
		serviceLog.add(newServiceLog);
		newServiceLog.save();
	});


	var carDetailView = new maintenanceApp.CarDetailView({
		el: "#carDetails"
	});

	//initailizes my garage
	var myGarageView = new maintenanceApp.MyGarageList({
		collection: myGarage,
		el: "#carsList",
	});
	myGarageView.on("selected", function(e) {
		let selectedCar = new maintenanceApp.CarModel({token: e.get("token")});
		selectedCar.fetch();
		carDetailView.setModel(selectedCar);

		addLogView.setModel(selectedCar);

		serviceLog.carId = e.get("token");
		serviceLog.fetch({reset: true});

		scheduledMaintenance.carId = e.get("token");
		scheduledMaintenance.fetch({reset: true});

		$('#leftMenu').hide();

	});

	var myGarageAddView = new maintenanceApp.MyGarageAddView({
		collection: myGarage,
		el: "#registerCarForm"
	});

	myGarage.fetch({reset: true});

	AutoComplete.create('#gridService', SERVICE_AUTOCOMPLETE_PLUGIN, serviceLog);
	AutoComplete.create('#gridFriendlyDate', DATE_AUTOCOMPELTE_PLUGIN, DATEUTILS.months);
	TableFilter.create('#gridService','#serviceGrid tr');


});

</script>
<script src="scripts/maintenanceLog.js"></script>
</body>
</html>
