<html>
<head>
<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<title>Mileage Logs</title>
	<style>
	.car {
	    background-color: #6096bd;
	    margin: 5px;
	    border-radius: 5px;
	    color: #fff;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    text-align: center;
	}

	.car a {
		color: #fff;
	}

	input {
		width: 100%;
		font-size: 15px;
		margin-top:15px;
	}

	input[type=submit] {
	    background-color: #0663a5;
	    margin: 5px;
	    border-radius: 5px;
	    color: #fff;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    text-align: center;
	}

	.selected { 
	    background-color: #0663a5;
	}


	#mileageForm {
		margin-top:25px;
		margin: 25px 0 0 5px;
	}
	</style>
</head>
<body id="carList">

<div id="carList">
	{{#each cars}}
	<div class="car" carId="{{id}}"><a href="#mileage">{{name}}</a></div>
	{{/each}}
</div>

<div id="mileageForm">
	<a anchor="mileage"></a>
	<form method="POST" url="/api/car/:carId/mileage/:mileage">
	<input id="carId" type="hidden"/>
	<input id="mileage" type="number" placeholder="mileage"/>
	<input type="submit" value="Submit"/>
	</form>
</div>
<script>

$( document ).ready(function() {
	var carId = null;
	$("#carList .car").on("click", function(e,f) {
		$("#carList .car").removeClass("selected");
		var selectedCar = $(e.currentTarget);
		selectedCar.addClass("selected");
		carId = selectedCar.attr("carId");

	});

	$("#mileageForm form").on("submit", function(e) {
		var mileage = $("#mileage").val();
		console.log(carId + " " + mileage);
		$.ajax({
			url: "/api/car/" + carId + "/mileage/" + mileage,
			type: "PUT",
			success: function(result) {
				alert("Successful");
			}
		});
		e.preventDefault();

		return false; 
	});
});
</script>
</body>
</html>
