<!doctype html>
<html lang="en">
<head>
 	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<meta name="msapplication-TileColor" content="#2770a4">
	<meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/mileage.css">

	<title>Mileage</title>
</head>
<body>

<div id="mileageReport" class="modal" tabindex="-1" role="dialog" xstyle="display:none">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header header p-0">
        <h5 class="modal-title pl-2">Service Reminders</h5>
        <button type="button" class="close" data-dismiss="modal"><i class="far fa-times-circle p-1"></i></button>
	  </div>
	  <div class="modal-body">
		<div id="serviceReminders">
			<p class="noServiceDue">Thank You!</p>
			<div class="serviceDue" style="display:none">
				<h3 class="serviceDescription">Oil Change</h3>
				<div class="serviceSchedule">
					<div>Due In: <span class="serviceMiles">454</span> miles</div>
					<div>Due By: <span class="serviceDate">Oct 15, 2019</span></div>
				</div>
				<input class="btn completed" type="button" value="Completed"/>
			</div>
		</div>
	  </div>
    </div>
  </div>
</div>

<div id="mainContent" class="container mt-4">
	<div id="carList" class="btn-group-vertical">
		<div class="btn m-1 car" style="display:none"></div>
	</div>

	<div id="mileageForm" class='mt-4'>
		<a anchor="mileage"></a>
		<input id="carToken" type="hidden"/>
		<input id="mileage" class="form-control m-1 pt-0 pb-0" type="number"/>
		<button id="submitMileage" class="btn btn_submit m-1">Submit</button>
	</div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="scripts/jquery_3_3_1.min.js"></script>
<script src="scripts/popper_1_14_6.min.js"></script>
<script src="scripts/bootstrap_4_2_1.min.js"></script>


<script>



$( document ).ready(function() {

	let queryParams = new URLSearchParams(location.search);

	if ('serviceWorker' in navigator) {
	  window.addEventListener('load', function() {
	    navigator.serviceWorker.register('/sw.js').then(function(registration) {
	      // Registration was successful
	      console.log('ServiceWorker registration successful with scope: ', registration.scope);
	    }, function(err) {
	      // registration failed :(
	      console.log('ServiceWorker registration failed: ', err);
	    });
	  });
	}

	let resetPage = function() {
		$("#carList .car").removeClass("selected");
		$("#mileage").prop("disabled",true);
		$("#mileage").val("");
		$("#mileage").prop("placeholder","Select Car");
	};

	let setupMileageForm = function(carToken) {
		$("#carToken").val(carToken);
		$("#mileage").prop("disabled",false);
		$("#mileage").prop("placeholder","Enter Mileage");
		$("#mileage").focus();
	};

	let setSelectedCar = function(selectedCar) { 
		$("#carList .car").removeClass("selected");
		selectedCar.addClass("selected");
		let carToken = selectedCar.attr("carToken");
		setupMileageForm(carToken);
	}

	let loadCarData = function() {
		//retrieve car list
		$.ajax({
			url: "api/car",
			type: "GET",
			success: function(results) {
				$("#carList").empty();

				if (results.length > 0) {
					results.forEach(function (o, i) {
						let newCar = carTemplate.clone();
						newCar.html(o.name);
						newCar.attr("carToken", o.token);
						newCar.on("click", function(e, f) {
							let selectedCar = $(e.currentTarget);
							setSelectedCar(selectedCar);
						});

						newCar.show();

						$("#carList").append(newCar);
					});

					//use query parameter to pre-select car
					let cTokenParam = queryParams.get("cToken");
					if (cTokenParam) {
						let requestedCar = $(".car[carToken=" + cTokenParam+ "]")
						if (requestedCar.length > 0) {
							setSelectedCar(requestedCar);
						}
					}
							

				}
			},
			error: function(jqXHR, textStatus, errorThrown) {
				$("#mainContent").hide();
			}

		});
	}

	resetPage();

	//save templates
	let carTemplate = $("#carList .car").clone();
	let serviceTemplate = $("#mileageReport .serviceDue").clone();
	let noServiceTemplate = $("#mileageReport .noServiceDue").clone();

	//submit mileage
	$("#submitMileage").on("click", function(e) {
		let carToken = $("#carToken").val();
		let mileage = $("#mileage").val();
		if (mileage.length === 0) {
			return false;
		}

		resetPage();

		$.ajax({
			url: "api/car/" + carToken + "/mileage/" + mileage,
			type: "PUT",
			success: function(results) {
				let dateFormatOptions = { year: 'numeric', month: 'short', day: 'numeric' };
				$("#serviceReminders").empty();

				$("#serviceReminders").append(noServiceTemplate.clone());
				// if (results.length > 0) {

				// 	results.forEach(function (o, i) {
				// 		let newServiceReminder = serviceTemplate.clone();
				// 		newServiceReminder.find(".serviceDescription").html(o.service);
				// 		newServiceReminder.find(".serviceMiles").html(o.due_in_miles);
				// 		newServiceReminder.find(".serviceDate").html(new Date(o.due_by).toLocaleDateString("en-US",dateFormatOptions));
				// 		newServiceReminder.find(".completed").on("click", function(e) {

				// 			let d = new Date();
				// 			let serviceDate = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate();
				// 			$.ajax({
				// 				url: "api/car/" + carToken + "/service",
				// 				type: "POST",
				// 				contentType : 'application/json',
				// 				data: JSON.stringify({ 
				// 					service: o.service,
				// 					mileage: mileage,
				// 					serviceDate: serviceDate
				// 				}),
				// 				success: function(results) {
				// 					$(e.currentTarget).parent(".serviceDue").fadeOut();
				// 				}
				// 			});
				// 		});
				// 		newServiceReminder.show();

				// 		$("#serviceReminders").append(newServiceReminder);
				// 	});
				// } else {
				// 		$("#serviceReminders").append(noServiceTemplate.clone());
				// }

				$('#mileageReport').modal();

			}
		});
		e.preventDefault();

		return false; 
	});


	loadCarData();

});
</script>
</body>
</html>
