#carList {
  .mat-button-toggle-checked {
    background-color: #3f51b5 !important;
  }
  
  .mat-button-toggle {
    margin-bottom: 9px;
    background-color: #555;
    color: #fff; 
  }

  .mat-button-toggle-group {
    border: none;
  }
}