<!doctype html>
<html lang="en">
  <head>

  	<!-- fav icons -->
 	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<meta name="msapplication-TileColor" content="#2770a4">
	<meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/register.css">

	<title>Service Logs</title>
</head>
<body>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Time For Service!</h1>
      <p>With todays cars, keeping track of your car's scheduled maintenance and what needs to get done is hard.  A lot of modern cars have a service indicator light to tell you its time for service but they don't tell you what needs to be done.  Do not trust the guy behind the counter telling you that your air filter needs to be replaced. Don't get ripped off.  Using your mobile phone report your mileage when you are filling up on gas and we will provide you a list of services that are coming due, along we a whole bunch of cool stats. Register now!
      </p>
  </div>
</div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h2>New User</h2>
        <p>Signing up is quick and easy! Just fill out the form below to tell use a little about your car. It's that easy! No password or username, just an email.</p>
        <div class="col-md-8">
		
			<form id="registerCarForm">
	   			<div class="d-flex justify-content-center">
					<span class="warning errMsg" style="display:none">
						<i class="fas fa-exclamation-triangle"></i>
						<span class="msg"></span>
					</span>
				</div>	
				
				<div class="formField required">
					<label>Email:</label>
					<input type="text" name="email"/>
				</div>
				<div class="formField required">
					<label>Year:</label> 
					<select name="year"><option></option><select>
				</div>
				<div class="formField required">
					<label>Make:</label>
					<input type="text" name="make"/>
				</div>
				<div class="formField required">
					<label>Model:</label>
					<input type="text" name="model"/>
				</div>
				<div class="formField">
					<label>Trim:</label>
					<input type="text" name="trim"/>
				</div>
				<div class="formField">
					<label>Mileage:</label>
					<input type="text"/>
				</div>
				<div class="formSubmit"><label>&nbsp;</label><button class="btn btn-primary btn-sm">Register</button></div>
			</form>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Already A User</h2>
        <p>Welcome back! Enter the email address you used when signing up.  We'll email you a link to return to your garage.</p>
        <p>
		<form id="requestLinkForm">
   			<div class="d-flex justify-content-center">
				<span class="warning errMsg" style="display:none">
					<i class="fas fa-exclamation-triangle"></i>
					<span class="msg"></span>
				</span>
			</div>	
			<div class="formField required">
				<label>Email:</label>
				<input type="text" name="email"/>
			</div>
			<div class="formSubmit"><label>&nbsp;</label><button class="btn btn-primary btn-sm">Send Email</button></div>
		</form>
		<div id="authEmailSent" style="display:none">
			Please check your inbox for an email with a link to access your car.  If you do not find an email check your span folder.
		</div>
        </p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Car Buuddy 2018</p>
</footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script>
		$( document ).ready(function() {

		let startYear = new Date().getFullYear()+1;
		for (let year=startYear;year>1930;year--) {
				$("#registerCarForm select[name=year]").append('<option value="' + year + '">' + year + '</option>');
			}

			$("#registerCarForm").submit(function(e) {
				e.preventDefault();

				//validate form
				let isFormValid = true;
				$("#registerCarForm .warning").hide();
				$("#registerCarForm .required").each(function(index, el){
    				if ($.trim($(el).find("input, select").val()).length == 0){
        				$(el).find("input, select").attr("placeholder", "Required");
				        isFormValid = false;
        			}
    			});

    			if (!isFormValid) {
    				return;
    			}
 
 				//register and add car
				$.ajax( {
					method: "POST",
					url: "api/register",
					data: {email: $("#registerCarForm input[name=email]").val()}
				})
				.done(function() {
					$.ajax( {
							method: "POST",
							url: "api/car",
							data: $("#registerCarForm").serialize()
						})
						.done(function(data) {
							$(location).attr('href',"/");
					  	})
					 	.fail(function(jqXHR, status, error) {
				 			$("#registerCarForm .errMsg .msg").html(status);
				 			$("#registerCarForm .errMsg").show();
					 	});
			  	})
			 	.fail(function(jqXHR, status, error) {
			 		if (jqXHR.status == 400) {
			 			$("#registerCarForm .errMsg .msg").html("Email already registered")
			 		} else {
			 			$("#registerCarForm .errMsg .msg").html(status);
			 		}
		 			$("#registerCarForm .errMsg").show();
			 	});
			});


			$("#requestLinkForm").submit(function(e) {
				e.preventDefault();

				//validate form
				let isFormValid = true;
				$("#requestLinkForm .warning").hide();
				$("#requestLinkForm .required").each(function(index, el){
    				if ($.trim($(el).find("input, select").val()).length == 0){
        				$(el).find("input, select").attr("placeholder", "Required");
				        isFormValid = false;
        			}
    			});

    			if (!isFormValid) {
    				return;
    			}
 
 				//register and add car
				$.ajax( {
					method: "POST",
					url: "api/sendAuth",
					data: $("#requestLinkForm").serialize()
				})
				.done(function() {
					$('#authEmailSent').show();
			  	})
			 	.fail(function(jqXHR, status, error) {
		 			$("#requestLinkForm .errMsg .msg").html(status);
		 			$("#requestLinkForm .errMsg").show();
			 	});
			});
		});

	</script>
</body>
</html>
