
#mainContent .btn-group-vertical {
	width:100%;
}

#mainContent .btn-group-vertical .btn {
    border-radius: 5px;
}

#mainContent .btn {
    background-color: #afafaf;
    color: #fff;
    text-align: center;
    font-size:18px;
    cursor: pointer;
}

#mainContent .btn.selected { 
    background-color: #0663a5;
}

#mileageForm .btn_submit {
	width: 100%;
    background-color: #0663a5;
}


#mileageReport {
   border: 1px solid #0062a7;
}

#mileageReport h2 {
	text-align: center;
}

#mileageReport .header {
	/* margin: 0px; */
	font-size: 18px;
	background-color: #0062a7;
	/* padding: 2px 5px 2px 5px; */
	/* margin-bottom: 10px; */
	color: #fff;
}

#mileageReport .serviceDue {
	width: 100%;
	margin: 0 0 15px 15px;
}

#mileageReport .serviceDue h3{
	margin: 0;
	font-size: 14px;
}

#mileageReport .serviceDue .btn{
    width: 150px;
    font-size: small;
    background-color: #bf3434;
}

#mileageReport .serviceSchedule {
	margin-left: 15px;
	font-size: 14px;
}

#mileageReport .stats {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 15px;
}

#mileageReport .stats td {
	/* border: 1px solid; */
	padding: 0 5px 0 5px;
}

#mileageReport .stats .label {
	text-align: right;
}

#mileageReport .stats .data {
	text-align: left;
}

#mileageReport .close {
	color: #fff;
	opacity: 1;
	text-shadow: none;
}

#mileageReport .modal-header {
	border-radius: 0px;
}



