
body {
	font-size:14px;
}

.btn { 
    width: 150px;
}

#mainContent .btn-group-vertical {
	width:100%;
}

#mainContent .btn-group-vertical .btn {
    border-radius: 5px;
}

#mainContent .btn {
    background-color: #afafaf;
    color: #fff;
    text-align: center;
    font-size:1.2rem;
    cursor: pointer;
}

#mainContent .btn.selected { 
    background-color: #0663a5;
}

#mileageForm .btn_submit {
	width: 100%;
    background-color: #0663a5;
}


#mileageReport {
   border: 1px solid #0062a7;
}

#mileageReport h2 {
	text-align: center;
}

#mileageReport .header {
	font-size: 1.2rem;
	background-color: #0062a7;
	color: #fff;
}

#mileageReport .serviceDue, #mileageReport .serviceEdit {
	/* width: 100%; */
	margin: 0 15px 15px 15px;
	border:  1px solid #000;
	padding: 5px;
	border-radius: 10px;
}

#mileageReport .serviceDue h3{
	margin: 0;
	font-size: 1.1rem;
}

#mileageReport .serviceSchedule {
	margin-left: 15px;
	font-size: 14px;
}

#mileageReport .stats {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 15px;
}

#mileageReport .stats td {
	padding: 0 5px 0 5px;
}

#mileageReport .stats .label {
	text-align: right;
}

#mileageReport .stats .data {
	text-align: left;
}

#mileageReport .close {
	color: #fff;
	opacity: 1;
	text-shadow: none;
}

#mileageReport #mileageSummary {
	padding-bottom: 5px;
}

#mileageReport .serviceBar {
	border-radius: 5px;
	height: 10px;
	border: 1px solid #000;
	background-color: #fff;
	width: 80%;
	margin-left:auto;
   	margin-right:auto;
}

#mileageReport .serviceBarProgess {
	background-color: #00FF00;
	width: 0%;
	border-radius: 5px;
	height: 8px;
}

#mileageReport .serviceBarProgess.warnService {
	background-color: #dcbf33;
}

#mileageReport .serviceBarProgess.alertService {
	background-color: #be3434;
}

#mileageReport .serviceMessage {
	text-align: center;
	font-size: small;
}

#serviceSummary .serviceEdit .documentUploader {
    padding:5px;
}

#serviceSummary .serviceEdit .document {
	width: 70px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align:center;
    font-size:50px;
}

#serviceSummary .serviceEdit .serviceNotes {
	width:100%;
	height: 50px;
}

#serviceSummary .serviceEdit h3 {
	font-size:1.1rem;
}
