
form label {
	width:100px;
	text-align: right;
}

form input,
form select {
	width: 200px;
}

.warning {
	color: #6f0202;
	padding-left: 10px;
	font-size: small;
}

.warning .msg {
	padding-left: 5px;
}
