.service_soon {
    color: green;
}

.overdue {
    color: red;
}

.serviceDue {
    margin-top: 5px;
    margin-bottom: 15px;
}

.service_pastdue {
    vertical-align: middle;
    color: red;
}

.service_upcoming{
    vertical-align: middle;
    color: green;

}
