<mat-toolbar color="primary">
	<mat-toolbar-row>
	<button mat-icon-button (click)="toogleMenu()">
		<mat-icon>menu</mat-icon>
	</button>
	<span><a
		[routerLink]="['/home']">
		Maintenance Log
	  </a></span>
</mat-toolbar-row>
 </mat-toolbar>
 <mat-toolbar color="primary" *ngIf="showMenu">
	<mat-toolbar-row *ngFor="let vehicle of _maintenanceService.myGarage$ | async" >
	<button mat-icon-button [routerLink]="['/mileage', vehicle.invitationToken]">
		<span>{{vehicle.name}} <small>({{vehicle.mileageReportedDays}} days ago)</small></span>
	</button>
</mat-toolbar-row>
 </mat-toolbar>

<div id="mainContent" class="container mt-4">
  <router-outlet></router-outlet>
</div>
